# Binarios y compilaciones
*.dmg
*.pkg
*.app/
build/
dist/

# Entornos virtuales y librerías pesadas
venv_dsp/
venv/
**/libtorch_cpu.dylib
**/libllvmlite.dylib

# Caché estocástica y temporal
TGN_Stem_Cache/
__pycache__/
*.pyc
.cache/
dmg_origen/
*.app/
